@font-face {
  font-family: Saira;
  src: url(/src/fonts/Saira-Light.ttf);
  font-style: normal;
  font-weight: normal;
}
.main__form {
  padding: 10px;
  position: relative;
}

.main__form::before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border-right: 1px solid #c4c4c4;
}

.main__statistics {
}

.form {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr;
}

.field {
  display: flex;
  margin: 10px 10px 0px 10px;
  padding: 5px 16px;
}
.input {
  background: #e8e8e8;
  border-radius: 5px;
  width: 100%;
  min-height: 29px;
  border: none;
  padding: 5px;
}
.description {
  background: #e8e8e8;
  border-radius: 5px;
  grid-column: span 2;
  width: 100%;
  min-height: 75px;
  padding: 5px;
  border: none;
  resize: none;
  font-family: Saira;
}
input {
  font-family: Saira;
}

.form__button {
  width: 100%;
  min-height: 24px;
  left: 0px;
  top: 0px;
  padding: 6px;
  border: none;
  background: #696969;
  border-radius: 5px;
  color: #e8e8e8;
  cursor: pointer;
}
.form__button:hover {
  color: black;
}
